.navigator {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #797373;
    overflow: hidden;
    margin-top: 50px;
    padding: 50px;
    border-radius: 20px;
}

.title {
    display: flex;
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.navList {
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
    display: inline-flex;
    gap: 50px;
    margin-right: 150px;
}

.MainChart {
    font-size: 18px;;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
}

.FormFields {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4rem;
}

.InputBox {
    padding: 1rem 3rem;
    font-size: 1rem;
    margin: .5rem;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid #ccc;
}

.SubmitButton {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid #ccc;
    margin: 1rem;
    cursor: pointer;
}