.navigator {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #797373;
    overflow: hidden;
    margin-top: 50px;
    padding: 50px;
    border-radius: 20px;
}

.title {
    display: flex;
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.navList {
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
    display: inline-flex;
    gap: 50px;
    margin-right: 150px;
}

.MainChart {
    font-size: 18px;;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
}